
.container-fluid{
    max-width: 1400px;
}

.content1 {
    padding-bottom: 80px;
    height: 100%;
}

.content2 {
    padding-bottom: 50px;
    /* background-color: #E5E5E5; */
}

.imgcontent1 {
    position: absolute;
    right: 0px;
    width: 30%;
    height: 100%;
}

.imgcontent2 {
    position: absolute;
    left: 0px;
    top: -50px;
    width: 25%;
    height: 100%;

}


@media (max-width:768px) {
    .center{
        display: flex;
        justify-content: center;
    }
    .content1 {
        padding: 20px;
        padding-bottom: 25px;
    }
    .content2 {
        padding: 20px;
        padding-bottom: 25px;
    }
    .imgcontent1 {
        margin: auto;
        padding-bottom: 25px;
        position: static;
        width: 70%;
        height: auto;
    }
    .imgcontent2 {
        padding-top: 5px;
        position: static;
        width: 70%;
        height: auto;
    }
}