

.RegisterButton {
    font-size: 14px;
    padding: 8px 20px;
    width: 120px;
    border-radius: 10px;
    color: #C32424;
    font-weight: bold;
}

.btnRegister {
    outline: none;
    border: none;
    background-color:#C32424 ;
    border-radius:10px
}

.btnRegister:hover {
    background-color:#a52020 ;
}