@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.text-holy-red{
    color: #C32424;
}
.text-holy-grey{
    color: #616161;
    ;
}

.bg-holy{
    background-color: #C32424;
}