@font-face {
    font-family: "Product sans";
    src: url('./assets/font/Product\ Sans\ Regular.ttf');
}

* {
    font-family: 'Product sans', sans-serif;
}

.text-holy-red{
    color: #C32424;
}
.text-holy-grey{
    color: #616161;
    ;
}

.bg-holy-red{
    background-color: #C32424;
}

.bg-holy-grey{
    background-color: #E5E5E5;
}

.consoleLog{
    border: solid 2px black;
}
